
/* basic setup */
h1 { font-weight: bold; font-size: 2rem; margin-bottom: 1rem; }
h2 { font-weight: bold; font-size: 1.5rem; }
p { margin-bottom: 2rem; }
em { font-style: italic; }

html { 
    font-size: 15px; 
    width: 100%;
    background-color: #fffaf0;
}

main {
    padding: 2rem;
    margin-top: 75px;
    width: 90%;
    max-width: 900px;
}

body {
  font: 1.5rem Arial, sans-serif;
  display: flex;
  justify-content: center;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    width: 100%;

	background-image:url("reference/vernalpool_v1.jpg");
    /*background-color: #1fa00e;*/
    padding: 0.5em; /* Change this if adding header contents */
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #1fa00e;
    padding: 1em 1em 1.5em;
    font-size: 0.8em;
}

footer p {
    color: #fffaf0;
    margin: 0em;
}


/* info section styles */

.info-section { 
    padding: 0.5em 2em;
    background-color: #fffaf0;
}

.info-section:nth-of-type(2n) { background-color: #cac5bc;}

.info-section h1 { font-size: 1.5em; }
