/* Layout styles go here */

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

title {
  background-color: rgb(31, 160, 14);
}

/*element style #3*/
h2{
  background-color:rgb(31, 160, 14);
}

a:visited{
  color: rgb(31, 160, 14);
}

/* Style the header */
.header {
   background-image:url("/images/wtlogoshort.png");
    padding: 20px;
    text-align: center;
}
/*special header logo */
#topheader{
   background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-image:url("/images/wtlogoshort.png");
    background-repeat:repeat;
    
}

.pageheader{
   background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-image:url("/images/ge.jpg");
    background-repeat:repeat;
    
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.activepage) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
.topnav a.activepage {
    background-color: rgb(31, 160, 14);
}

/* A - Create three unequal columns that floats next to each other */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
    padding: 10px;
}

/* Left and right column */
.column.side {
    flex-basis: 25%;
    background-color:#f2f2f2;
}

/*make images fit to box; class style #2 */
.scaleimg{
  width:100%;
}





/* Middle column */
.column.middle {
    flex-basis: 50%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/*flexbox for images*/
/*class styles 3&4*/
.fboxcontainer {
	display: flex;
  margin:auto;
  
}

.fboxcenter {
  justify-content: center;
}

.fboxleft {
  justify-content: flex-start;
}


.fboxright {
  justify-content: flex-end;
}


.inmiddle {
  margin: auto;
  
}


