
/* Global styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
}


/* Header styles */
header {
    background-color: #8b0000;
    padding: 2em;
}

header p {
    color: #fffaf0;
}


/* Footer styles */
footer {
    background-color: #8b0000;
    padding: 1em;
    font-size: 0.8em;
}

footer p {
    color: #fffaf0;
}


/* Main section styles */
main {
    margin: 0em 2em;
}